.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  background-color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10%;
  width: 10%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
} 
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5px auto; /* 15% from the top and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  /* Position it in the top right corner outside of the modal */
  position: absolute;
  right: 25px;
  top: 0; 
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}
.dropdown {
  float: right;

}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #ff6700;
}

.dropdown-content {
  display: none;
  height: 10px;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content input {
  float: center;
  background-color:white;
  width:100%;
  height:00%;
  color: black;
  font-size:18px;
  padding: 12px 50px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content input:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color:#ffe0b9;
}
#trol{
  background-color:#ff9a00;
  margin-left:50px;
  color:black;
}
.topnav {
  overflow: hidden;
  background-color: #ff9a00;
  overflow-x: hidden;
  position:fixed;
  width:80%;
}

.topnave {
  overflow: hidden;
  background-color: #ff9a00;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnave a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 16px 10px;
  text-decoration: none;
  font-size: 17px;
  height:30px;
}
.topnav>input{
  float: left;
  display: block;
  margin-left:40px;
  color: black;
  margin-top:12px;
  width:200px;
  text-align: left;
  padding-left:10px;

  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #f97100;
  color: black;
}
.topnave a:hover {
  background-color: #f97100;
  color: black;
}

.topnav a#activee {
  background-color: #f28600;
  color: white;
  margin-left:254px;
}
.topnave a#activee {
  background-color: #f28600;
  color: white;
  margin-left:254px;
}

.topnav .icon {
  display: none;
}
.principale_imgs{
  width: 100%;
  background-image:url('chouaib/iphone11goldkaymak.jpg');
  background-repeat:no-repeat;
  background-size:100% 430px;
  height: 430px;
}
.principale_imgs>span{
  color:green;
  font-family: Arial, Helvetica, sans-serif;
  font-size:20px;
  color:white;
  padding-left:0;
}
#user_img{
  height:118px;
  border-radius:50%;
  border:solid white 2px;
  margin-top:328px;
  margin-left:40px;
}
.trolls{
  background-color:#ff9700;
  width : 600px;
  color:black;
  margin-top:100px;
  margin-left:100px;
  height:800px;


}
#profile_photo{
  width:48px;
  height:48px;
  border:solid 0.5px white;
  border-radius:100%;
  margin-left:20px;
  margin-top:10px;
}
#posted-image{
  width:600px;
  height:700px;
  padding-top:5px;
}
.sidenav {
  width: 400px;
  position:absolute;
  top: 400px;
  right: 30px;
  background: white;
  padding: 8px 0;
  top:400px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
}

.sidenav a:hover {
  color: black;
}
#a{
  color:white;
  background:#f97100;
  border:1px #f97100 solid;
  height: 30px;
  margin-left:20px;
  width:80px;
}

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}
@media screen and (max-width: 1139px) {
.sidenav{
  display: none;
}
}
@media screen and (max-width: 830px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnave {
  overflow: hidden;
  background-color: #ff9a00;
  padding-top:40px;
}
.topnave a#activee {
  margin-left:0;
}
  .topnave a {
  float: left;
  width:55px;
  display: block;
  margin-top:10px;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}
  #trol{
    margin-left:0;
  }
  .topnav a#activee{
    margin-left:190px;
  }
  .topnav>input{
    width: 100%;
    height:10px;
  font-size: 18px;
  padding: 11px;
  margin-left:0;
  border: 1px solid #ddd;
}

#trol{
  padding-left:40%;
  }
}

@media screen and (max-width: 830px) {
  .trolls{
    background-color:orange;
  width : 400px;
  color:black;
  margin-top:50px;
  margin-left:100px;
  height:700px;
  

}
#profile_photo{
  width:48px;
  border:solid 0.5px orange;
  border-radius:100%;
  margin-left:20px;
  padding-top:10px;
}
#posted-image{
  width:400px;
  padding-top:5px;
}
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

.sidenav{
  display: none;
}
}
@media screen and (max-width:347px){
  #user_img{
  height:128px;
  border-radius:50%;
  border:solid white 2px;
  margin-top:188px;
  margin-left:110px;
}
.principale_imgs>span{
  color:black;
  font-family: Arial, Helvetica, sans-serif;
  font-size:20px;
  margin-bottom:20px;
  padding-left:135px;
}  
.topnave{
  padding-top:80px;
  padding-left:15px;
}

.sidenav{
  display: none;
}

.trolls{
  background-color:orange;
  width : 200px;
  color:black;
  margin-top:50px;
  margin-left:40px;
  height:400px;
  

}
#profile_photo{
  width:48px;
  border:solid 0.5px white;
  border-radius:50%;
  margin-left:10px;
  padding-top:10px;
}
#posted-image{
  width:200px;
  padding-top:5px;
}
}
@media screen and (max-width:450px){

.trolls{
  background-color:orange;
  width : 300px;
  color:black;
  margin-bottom:30px;
  margin-top:10px;
  margin-left:40px;
  height:500px;
  

}
#profile_photo{
  width:48px;
  border:solid 0.5px orange;
  border-radius:50%;
  margin-left:10px;
  padding-top:10px;
}
#posted-image{
  width:300px;
  height:400px;
  padding-top:5px;
}
}

@media screen and (max-width: 350px) {
  .trolls{
  background-color:orange;
  width : 100%;
  color:black;
  margin-top:50px;
  margin-left:23px;
  height:400px;
  

}
#profile_photo{
  width:48px;
  border:solid 0.5px white;
  border-radius:50%;
  margin-left:10px;
  padding-top:10px;
}
#posted-image{
  width:300px;
  padding-top:5px;
}
}
@media screen and (max-width: 350px) {

.trolls{
  background-color:orange;
  width : 100%;
  color:black;
  margin-top:120px;
  margin-left:0px;
  height:400px;
  margin-bottom:100px;

}
#profile_photo{
  width:48px;
  height:48px;
  border:solid 0.5px orange;
  border-radius:50%;
  margin-left:10px;
  padding-top:5px;
}
#posted-image{
  width:100%;
  padding-top:5px;
}}