@media screen and (max-width: 1139px) {
.sidenav{
  display: none;
}
}
@media screen and (max-width: 1260px) {
.sidenav{
  width:300px;
}
}
@media screen and (max-width: 830px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnave {
  overflow: hidden;
  background-color: #ff9a00;
  padding-top:40px;
}
.topnave a#activee {
	margin-left:0;
}
  .topnave a {
  float: left;
  width:55px;
  display: block;
  margin-top:10px;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}
  #trol{
  	margin-left:0;
  }
  .topnav a#activee{
  	margin-left:190px;
  }
  form>input{
    width: 100%;
    height:10px;
  font-size: 18px;
  padding: 11px;
  margin-left:0;
  border: 1px solid #ddd;
}
#trolls{
  background-color:orange;
    height:1000px;
    margin-bottom: 400px;
  }

#trol{
	padding-left:40%;
  }
  }

@media screen and (max-width: 830px) {
  .trolls{
  background-color:orange;
  width : 400px;
  color:black;
  margin-top:50px;
  margin-left:100px;
  height:680px;
  

}
#like{
  margin-left:120px;
  margin-top:30px;
}
#dislike{
  margin-left:30px;
}
#profile_photo{
  width:48px;
  border:solid 0.5px white;
  border-radius:50%;
  margin-left:20px;
  padding-top:10px;
}
#posted-image{
  width:400px;
  padding-top:5px;
}
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

.sidenav{
  display: none;
}
}
@media screen and (max-width:347px){
	#user_img{
	height:128px;
	border-radius:50%;
	border:solid white 2px;
	margin-top:188px;
	margin-left:110px;
}
.principale_imgs>span{
  color:black;
  font-family: Arial, Helvetica, sans-serif;
  font-size:20px;
  margin-bottom:20px;
  padding-left:135px;
}  
.topnave{
  padding-top:80px;
  padding-left:0px;
}
#like{
  margin-left:150px;
  margin-top:30px;
}
#dislike{
  margin-left:30px;
}
.sidenav{
  display: none;
}

.trolls{
  background-color:orange;
  width : 200px;
  color:black;
  margin-top:50px;
  margin-left:40px;
  height:400px;
  

}
#profile_photo{
  width:48px;
  border:solid 0.5px white;
  border-radius:50%;
  margin-left:10px;
  padding-top:10px;
}
#posted-image{
  width:200px;
  padding-top:5px;
}
}
@media screen and (max-width:463px){

.trolls{
  background-color:white;
  width : 300px;
  color:black;
  margin-top:50px;
  margin-left:40px;
  height:600px;
  

}
#like{
  margin-left:70px;
  margin-top:30px;
}
#dislike{
  margin-left:30px;
}
#user_img{
  height:118px;
  border-radius:50%;
  border:solid white 2px;
  margin-top:178px;
  margin-left:80px;
}
#profile_photo{
  width:48px;
  border:solid 0.5px white;
  border-radius:50%;
  margin-left:10px;
  padding-top:10px;
}
#posted-image{
  width:300px;
  padding-top:5px;
}

}

@media screen and (max-width: 350px) {
  .trolls{
  background-color:white;
  width : 100%;
  color:black;
  margin-top:50px;
  margin-left:23px;
  height:400px;
  

}
#profile_photo{
  width:48px;
  border:solid 0.5px white;
  border-radius:50%;
  margin-left:10px;
  padding-top:10px;
}
#posted-image{
  width:300px;
  padding-top:5px;
}
}
@media screen and (max-width: 350px) {

.trolls{
  background-color:white;
  width : 100%;
  color:black;
  margin-top:160px;
  margin-left:0px;
  height:800px;
  

}
#profile_photo{
  width:48px;
  border:solid 0.5px white;
  border-radius:50%;
  margin-left:10px;
  padding-top:10px;
}
.principale_imgs>span{
  color:black;
  font-family: Arial, Helvetica, sans-serif;
  font-size:20px;
  float: center;
  padding-left:110px;
}
#posted-image{
  width:100%;
  padding-top:5px;
}
#like{
  margin-left:100px;
  margin-top:30px;
}
#dislike{
  margin-left:10px;
}
}